{% extends 'base.html' %}


{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"> Home</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'password_reset' %}">
            forgot password？ send again：</a></li>
</ol>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>    
            <div class="col-md-9">
                <h3> Sent to your email address...</h3>
            </div>    
        </div>
    </div>
</div>

{% endblock %}s
{% block footer %} {% include 'footer.html' %} {% endblock %}