{% extends 'base.html' %}

{% block body %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>    
            <div class="col-md-9">

                <p>New password:</p>
                
               <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn-primary" type='submit'> Change password </button>
               </form>
            </div>    
        </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}
