<div class="profile-details">
    <div class="section-title">
        <h3 class="title">Profiles</h3>
    </div>
    <div class="aside">
        <ul class="list-links">
            <a href="{% url 'user' %}"><li class="dropdown-item">My account</li></a>
            <a href="{% url 'user_bookmarks' %}"><li class="dropdown-item">My bookmarks</li></a>
            <a href="{% url 'user_comments' %}"><li class="dropdown-item">My comments</li></a>
            <a href="{% url 'logout' %}"><li class="dropdown-item">Logout</li></a>
        </ul>
    </div>
</div>


