{% extends 'base.html' %}


{% block title %} {{ setting.title }} {% endblock %}
{% block desctiption %} {{ setting.description}} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block navbar %} {% include "navbar.html" %} {% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">
        <a href="{% url 'contact' %}">
            Contact：</a></li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-4">
                <div class="billing-details">
                   
                    <div class="section-title">
                        <h3 class="title">  </h3>
                    {% if messages %}
                        {% for message in messages %}
                            <div class='alert alert-{{ message.tags }}' role='alert'>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    
                    {% load crispy_forms_tags %}
                    <form id='checkout-form' class='clearfix' method="POST">
                        {% csrf_token %}
                            {% crispy form %} 
                    </form>
             

                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="contact-infor">
                <div class="section-title">
                    <h4 class="title"> </h4>
                </div>
                <div>
                    {{ setting.contact|safe }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %} {% include "footer.html" %} {% endblock %}
    
