{% extends 'base.html' %}


{% block title %} User Profile {{ setting.title }} {% endblock %}
{% block desctiption %} {{ setting.description}} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block navbar %} {% include "navbar.html" %} {% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">
        <a href="{% url 'user_bookmarks' %}">
            My bookmarks：</a></li>
</ol>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'user/user_panel.html' %}
            </div>  
            <div class="col-md-9">
                <div class="profile-details">
                    <div class="section-title">
                        <h3 class="title">My bookmarks：</h3>
                    </div>
                </div>
{% if posts %}  
                {% include 'blog/post_list.html' %}
            </div>    
        </div>
    </div>
</div>
{% else %}
<a href="/"><p class="text-center"> Nothing here yet~~</p></a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}
    

{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}
