{% extends 'base.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block desctiption %} {{ setting.description}} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block navbar %} {% include "navbar.html" %} {% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">
        <a href="{% url 'about' %}">
        About：</a></li>
</ol>

<div class="col-md-8">
    <div class="about-infor">
        <div class="section-title">
            <h4 class="title"> </h4>
        </div>
        <div class="float-right">
            {{ setting.aboutus|safe }}
        </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% include "footer.html" %} {% endblock %}
    
