{% extends 'base.html' %}
{% load thumbnail %}

{% block title %} {{ image.title }} {% endblock %}
{% block desctiption %} {{ image.post.description}} {% endblock %}
{% block keywords %} {{ image.post.keywords }} {% endblock %}


{% block navbar %} {% include "navbar.html" %} {% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"> Home</a></li>
    <li class="breadcrumb-item "><a href="{% url 'image-detail' image.id %}"> Image details：</a></li>
</ol>
  
<div class="row">
    <div class="col-md-8">
        <div class="view view-cascade overlay">
            <img src="{{ image.image.url }}" class="card-img-top"
              alt="Responsive image" onclick="window.open(this.src)">
        </div>
        <div class="card-body card-body-cascade text-center">
            <h2><a href="{{ image.post.get_absolute_url }}">
                <strong>{{ image.post.title }}</strong></a></h2>
            <h4>{{ image.title }}</h4>
        </div>
        <div class="row d-flex">
            <div class="col-md-6 col-6">
                <div class="d-flex" >
                    <img src="{{ image.post.author.userprofile.avatar.url }}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                    <div>
                        <h4 class="card-title font-weight-bold mb-2" style="font-size: medium;">
                            <a href="{% url 'about' %}">{{ image.post.author }}</a></h4>
                        <p class="card-text" style="font-size:small;"><i class="far fa-clock pr-2"></i>{{ image.post.updated_on|date:'d M Y' }}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-6 text-md-right">
                <div class="d-flex ">
                    <a class="qq-ic " href="#">
                        <i class="fab fa-qq grey-text mr-3"></i>
                    </a>
                    <a class="wx-ic " href="#">
                        <i class="fab fa-weixin grey-text mr-3"></i>
                    </a>
                    <a class="wb-ic " href="#">
                        <i class="fab fa-weibo grey-text mr-3"></i>
                    </a>
                    <form action="{% url 'like-image' image.pk %}" method="POST">
                        {% csrf_token %}
                        {% if is_liked %}
                        <button class="btn-md btn-link"  style="border:none" type="submit" name="image_id" value="{{ image.pk }}">    
                            <i class="fas fa-heart text-muted mr-4"> </i>
                        </button>
                        {% else %}
                        <button class="btn-md btn-link"  style="border:none" type="submit" name="image_id" value="{{ image.pk }}">    
                            <i class="far fa-heart text-muted mr-4"> </i>
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="excerpt mt-5 wow fadeIn" data-wow-delay="0.3s">
            <p>{{ image.description|safe }}</p>
        </div>
    </div>

    <div class="col-md-4">
        <aside class="position-fixed">
            <ul class="list-group-flush ">
                <li class="list-group-item">
                    <div class="dropdown">
                        <button class="btn-lg btn-link" style="border:none" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top"
                        title="Share this post"> Share</i></button>
                        <div class="dropdown-menu dropdown-primary" style="background-color:steelblue">
                            <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
                                <i class="fab fa-facebook-f white-text mr-4"></i>facebook
                            </a>
                        
                            <a class="dropdown-item" href="http://twitter.com/intent/tweet/?url={{request.build_absolute_uri}}">
                                <i class="fab fa-twitter white-text mr-4"></i>twitter
                            </a>
                        
                            <a class="dropdown-item" href="#">
                                <i class="fab fa-weibo white-text mr-4"></i>微博
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" >
                    <button class="btn-lg btn-link" style="border:none"><a href="#comment-form"><i class="fab fa-rocketchat text-muted float-right p-1 my-1"> Comments</i></a></button>
                </li>


                <li class="list-group-item" id='like-section'>
                    <form action="{% url 'like-image' image.pk %}" method="POST">
                        {% csrf_token %}
                        {% if is_liked %}
                        <button class="btn-lg btn-link"  style="border:none" type="submit" name="image_id" value="{{ image.pk }}">    
                            <i class="fas fa-heart text-muted float-right p-1 my-1">{{ image.total_likes}} Likes </i>
                        </button>
                        {% else %}
                        <button class="btn-lg btn-link"  style="border:none" type="submit" name="image_id" value="{{ image.pk }}">    
                            <i class="far fa-heart text-muted float-right p-1 my-1">{{ image.total_likes}} Likes </i>
                        </button>
                        {% endif %}
                    </form>
                </li>                

                <li class="list-group-item">
                    <button class="btn-lg btn-link" style="border:none" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-hand-point-right text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top"
                    title="I like it"> Related articles</i></button>

                    <div class="dropdown-menu dropdown-primary" >
                        <a class="dropdown-item" href="#">
                            <article>
                                <h3>Related article</h3>
                                <p>Article description</p>
                            </article>
                        </a>
                        <a class="dropdown-item" href="#">
                            <article>
                                <h3>Related article</h3>
                                <p>Article description</p>
                            </article>
                        </a>
                    </div>
                </li>
                <li class="list-group-item">
                    <h1></h1>
                    <p><a href="#" style="color: black;"> Top page</a></p>
                    <p><a href="#" style="color: black;"> Comments </a></p>
                    <p><a href="#" style="color: black;"> I want to comment </a></p>

                </li>
            </ul>
        </aside>
    </div>
</div>

{% endblock %}

{% block footer %} {% include 'footer_white.html' %} {% endblock %}
